<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change your password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var ur="{{'%s'%name}}";
       
           function loadDoc1(value) {
             
            alert(value);
        
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          document.getElementById("psw").innerHTML=this.responseText;
          if( document.getElementById("psw").innerHTML==""){
            
           var x = document.createElement("INPUT");
          var y=document.createElement("br")
          var z=document.createElement("p")
          const node = document.createTextNode(".");
           z.appendChild(node);
            z.setAttribute("id","otpp") 
            x.setAttribute("type", "password");
            x.setAttribute("placeholder","enter 4 digit otp")
            x.setAttribute("class","form-control")
            x.setAttribute("id","otp")
           document.getElementById("pasw").appendChild(x);
           document.getElementById("pasw").appendChild(y);
           document.getElementById("pasw").appendChild(y);
           document.getElementById("pasw").appendChild(z);
           document.getElementById("pasw").appendChild(y);
            var z1=document.getElementById("otp")
            z1.addEventListener("focusout",function(){
               
              const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          document.getElementById("otpp").innerHTML=this.responseText;
          if( document.getElementById("otpp").innerHTML=="otp matched"){
            document.getElementById("otpp").style.color="green";
          }else{
            document.getElementById("otpp").style.color="red";
          }
       }
  xhttp.open("POST", "/verifyotp");
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
         
          xhttp.send("mail="+ur+"&"+"otp="+this.value);
            });
          }
         
        }
      xhttp.open("POST", "/passwordvalidate");
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      alert("request maded");
      xhttp.send("pass="+value+"&name="+ur);
     }
     var pasw="";
     var ps=true;
     function passwordck(value){
              const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          document.getElementById("vl4").innerHTML=this.responseText;
       }
  xhttp.open("POST", "/psck");
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("fname="+value);
             if(document.getElementById("vl4").textContent==""){
                pasw=value;
                 document.getElementById("vl4").innerHTML="";
             }
           if(pasw==value){
               document.getElementById("vl5").innerHTML=""
               ps=true;
             }else{
                document.getElementById("vl5").innerHTML="PASSWORD MISMATCH";
                ps=false;
             }




     }
     function ok(){
      alert(ps);
      if(document.getElementById("otp").innerHTML==""){
        ps=true;
      }else{
        ps=false;
      }
      alert(ps);
        return ps;
     }
    </script>
</head>
<body >
    <form  action={{'/passwordchange/%s'%name}}  method="POST" onsubmit="return ok()">
        <div id="pasw">
            <input  class="form-control" type="password" placeholder="Enter your password" onfocusout="loadDoc1(this.value)" name="pass" required><p id="psw" style="color:red">.</p><br><br>
        </div>
        <input  class="form-control" type="password" placeholder="Enter your new  password" name="pass" onfocusout="passwordck(this.value)" required><p id="vl4" style="color:red">.</p><br><br>
        <input  class="form-control"  type="password" placeholder="confirm password" onfocusout="passwordck(this.value)" required><p id="vl5" style="color:red">.</p><br><br>
       <input  class="btn btn-primary" type="submit" value="submit"><br><br>
    </form>

</body>
</html>