<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script>
  function getHub1(){
     getHub();
     const xhttp = new XMLHttpRequest();
       xhttp.onload = function() {
           var data=this.responseText;
           alert(data);
           var obj=document.getElementById("hublist");
           var pr=JSON.parse(data);
         
           for(let x in pr){
             var opt=document.createElement("option");
             opt.setAttribute("value",pr[x]["HubName"]);
             const optionText = document.createTextNode(pr[x]["HubName"]);
             opt.appendChild(optionText);
             obj.appendChild(opt);
           }
 
        }
   xhttp.open("POST", "{{'/gethublist/%s'%name}}");
   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhttp.send();
   }
   function getHub(){
     
     const xhttp = new XMLHttpRequest();
       xhttp.onload = function() {
           var data=this.responseText;
           alert(data);
           var obj=document.getElementById("mytable");
           var pr=JSON.parse(data);
           alert(pr[0]["HubName"]);
           for(let x in pr){
            var row = obj.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var salesgrowth=0;
            var profit=0;
            var customergrowth=0;
             const optionText1 = document.createTextNode(pr[x]["HubName"]);
             const optionText2 = document.createTextNode(pr[x]["HubLocation"]);
             const optionText3 = document.createTextNode(x);
             const optionText4 = document.createTextNode(salesgrowth);
             const optionText5 = document.createTextNode(profit);
             const optionText6 = document.createTextNode(customergrowth);
              cell1.appendChild(optionText3);
              cell2.appendChild(optionText1);
              cell3.appendChild(optionText2);
              cell4.appendChild(optionText4);
              cell5.appendChild(optionText5);
              cell6.appendChild(optionText6);

           }
 
        }
   xhttp.open("POST", "{{'/gethublist/%s'%name}}");
   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhttp.send();
   }
</script>
</head>
<body onload="getHub1()">
<div id="menubar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;" >
        <div class="navbar-brand" onclick="history.back()">
      <img src="https://static.thenounproject.com/png/251451-200.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </div>
         <div class="container-fluid">
    <a class="navbar-brand" href="{{'/profile/%s'%name}}">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
      {{name}}
    </a>
  </div>
        <a class="navbar-brand" href="{{'/dashboard/%s'%name}}">Home</a>
        <a class="navbar-brand" href="{{'/Ranking/%s'%name}}">Ranking</a>
        <a class="navbar-brand" href="{{'/HubEntry/%s'%name}}">Hub Entry</a>
        <a class="navbar-brand" href="{{'/HubDashBoard/%s'%name}}">Hub DashBoard</a>

    </nav>
    <h3>Select Hub For Product Analysis</h3><br><br>
<select  id="hublist" class="form-select"  name="hub" onchange="productdetails(this.value)" >
            <option><p>Select the hub to see the productdetails</p></option>
</select><br><br>
<table class="table" id="mytable">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">HUB NAME</th>
      <th scope="col">HUB LOCATION</th>
      <th scope="col">SALES GROWTH</th>
      <th scope="col">PROFIT</th>
      <th scope="col">CUSTOMER GROWTH</th>
      
    </tr>
  </thead>
  <tbody>
  
  </tbody>
</table>

</div>
</body>
</html>