<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Inventory management login page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
 
  <script>
     var ur="";
       function checker1(value) {

      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          document.getElementById("usr").innerHTML=this.responseText;
       }
  xhttp.open("POST", "/uservalidate");
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("fname="+value);
     }
     function checker2(value) {
       ur=document.getElementById("user").value;
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          document.getElementById("psw").innerHTML=this.responseText;
          if( document.getElementById("psw").innerHTML==""){
            
           var x = document.createElement("INPUT");
          var y=document.createElement("br")
          var z=document.createElement("p")
          const node = document.createTextNode(".");
           z.appendChild(node);
            z.setAttribute("id","otpp") 
            x.setAttribute("type", "password");
            x.setAttribute("placeholder","enter 4 digit otp")
            x.setAttribute("class","form-control")
            x.setAttribute("id","otp")
           document.getElementById("mail").appendChild(x);
           document.getElementById("mail").appendChild(y);
           document.getElementById("mail").appendChild(y);
           document.getElementById("mail").appendChild(z);
           document.getElementById("mail").appendChild(y);
            var z1=document.getElementById("otp")
            z1.addEventListener("focusout",function(){
               
              const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          document.getElementById("otpp").innerHTML=this.responseText;
          if( document.getElementById("otpp").innerHTML=="otp matched"){
            document.getElementById("otpp").style.color="green";
          }else{
            document.getElementById("otpp").style.color="red";
          }
       }
  xhttp.open("POST", "/verifyotp");
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
         
          xhttp.send("mail="+ur+"&"+"otp="+this.value);
            });
          }
         
        }
      xhttp.open("POST", "/passwordvalidate");
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("pass="+value+"&name="+ur);
     }

     function ok(){

        if( document.getElementById("usr").innerHTML!=""){

          document.getElementById("usr").focus();

          return false;
        }
        if( document.getElementById("psw").innerHTML!=""){

        document.getElementById("psw").focus();

           return false;
        }
        if( document.getElementById("otpp").innerHTML!="otp matched"){

        document.getElementById("otpp").focus();

           return false;
        }

        return true;
     }
  </script>
  <style>
   body{
  background-image: url("https://jasper.s3.jp-tok.cloud-object-storage.appdomain.cloud/reminder-schedule-checklist-deadline-icon-symbol-planner-concept-pink-background-3d-rendering.jpg");
 
  
}
#heading{
  padding: 10%;
  font-style: italic;
  width :50%;
  float :left;
}

#register{
  
  width:50%;
  float :right;
}
h3{
  font-style: italic;
}
  </style>
<body>
  <div id="heading" class ="container">
    <h2>Inventory management system</h2><hr><br>
    <img src="https://jasper.s3.jp-tok.cloud-object-storage.appdomain.cloud/our-company.png" width="100%">
</div>
<div id="register" class ="container" >
<div class="container mt-3" >
    <h3>LOGIN</h3><br><br>
<form  onsubmit="return ok()" action="/validate" method="post" >
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
    </svg></span>
    <input  id="user" class="form-control"  type="text" placeholder="username" onfocusout="checker1(this.value)" name="usernm"required ><p id="usr" style="color:red">.</p><br><br>
   </div><br><br>
   
    <div id="mail" class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
      </svg></span>
      <input  class="form-control" type="password" placeholder="Enter your password" onfocusout="checker2(this.value)" name="pass" required><p id="psw" style="color:red">.</p><br><br>
    </div><br>
    
    <input  type="checkbox" value="1" name="sub"> HUB USER </input> <br><br>
    <input  class="btn btn-primary" type="submit" value="submit"><br><br>
    <a href="http://127.0.0.1:5001/mainregister">Don't have an account ? register here...</a>
</form>
</div>
</div>

</body>
</html>