<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HubDashBoard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<style>
.sidenav  {
  font-family: "Lato", sans-serif;
}

.sidenav {
  position: relative;
  height: 100%;
  width: 15%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #b7afaf;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main{
  float: right;
  width: 80%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<script>
    function changenav(value){
    const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          document.getElementById("main").innerHTML=this.responseText;
          if(value=="Hub's"){
            getHub();
          }else{
            getHub1();
          }
       }
  xhttp.open("POST", "{{'/navforhubentry/%s'%name}}");
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("fname="+value);
  }
  function getHub(){
     
     const xhttp = new XMLHttpRequest();
       xhttp.onload = function() {
           var data=this.responseText;
           var obj=document.getElementById("mytable");
           var pr=JSON.parse(data);
           var ls=pr["listofhubs"];
           for(let x in ls){
            var row = obj.insertRow(1);
             var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
             var a=document.createElement("a");
             a.setAttribute("href","{{'http://127.0.0.1:5001/subregister/%s/'%(name)}}"+ls[x]["HubName"])
             
              const optionText = document.createTextNode("ADD CO WORKERS");
              a.appendChild(optionText);
             
            
             
             
             const optionText1 = document.createTextNode(ls[x]["HubName"]);
             const optionText2 = document.createTextNode(ls[x]["HubLocation"]);
             const optionText3 = document.createTextNode(ls[x]["HubManager"]);
             const optionText4 = document.createTextNode(x);
             cell1.appendChild(optionText4); 
             cell2.appendChild(optionText1);
             cell3.appendChild(optionText2);
             cell4.appendChild(optionText3);
             cell5.appendChild(a);

           }
 
        }
   xhttp.open("POST", "{{'/gethublist/%s'%name}}");
   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhttp.send();
   }
   function getHub1(){
     
     const xhttp = new XMLHttpRequest();
       xhttp.onload = function() {
           var data=this.responseText;
           var obj=document.getElementById("hublist");
           var pr=JSON.parse(data);
          var ls=pr["listofhubs"]
           for(let x in ls){
             var opt=document.createElement("option");
             opt.setAttribute("value",ls[x]["HubName"]);
             const optionText = document.createTextNode(ls[x]["HubName"]);
             opt.appendChild(optionText);
             obj.appendChild(opt);
           }
 
        }
   xhttp.open("POST", "{{'/gethublist/%s'%name}}");
   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhttp.send();
   }
   function supplierdetails(value){
    const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
         var data=this.responseText;
           var obj=document.getElementById("mytable");
           var pr=JSON.parse(data);
           for(let x in pr){
            var row = obj.insertRow(1);
             var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
             var bt=document.createElement("BUTTON");
             bt.setAttribute("class","btn btn-primary");
           
            var t = document.createTextNode("Remove");
            
             bt.appendChild(t);
             
             const optionText1 = document.createTextNode(pr[x]["suppliername"]);
             const optionText2 = document.createTextNode(pr[x]["supplierlocation"]);
             const optionText3 = document.createTextNode(pr[x]["suppliedproducts"]);
             const optionText4 = document.createTextNode(x);
             cell1.appendChild(optionText4); 
             cell2.appendChild(optionText1);
             cell3.appendChild(optionText2);
             cell4.appendChild(optionText3);
             cell5.appendChild(bt);

           }
       }
  xhttp.open("POST", "{{'/supplierdetails/%s'%name}}");
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("fname="+value);
   }
   function productdetails(value){
    const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
          var data=this.responseText;
          
          var obj=document.getElementById("mytable");
           var pr=JSON.parse(data);
           for(let x in pr){
            var row = obj.insertRow(1);
             var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(6);
            var cell8 = row.insertCell(7);
             var bt=document.createElement("BUTTON");
             bt.setAttribute("class","btn btn-primary");
           
            var t = document.createTextNode("Remove");
            
             bt.appendChild(t);
             
             const optionText1 = document.createTextNode(x);
             const optionText2 = document.createTextNode(pr[x]["productname"]);
             const optionText3 = document.createTextNode(pr[x]["suppliername"]);
             cell1.appendChild(optionText1);
             cell2.appendChild(optionText2);
             cell3.appendChild(optionText3);
             cell8.appendChild(bt);
             var prprice="";
             var selprice="";
             var datec="";
             var qty="";
             var mnt=0;
             var yr=0;
             var date=0;
             for(let y in pr[x]["pricedetails"]){
                  
                  var myar=pr[x]["pricedetails"][y]["date"].split("-");
                  
                  if(yr<=myar[0]){
                     yr=myar[0];
                    if (mnt<=myar[1]){
                      mnt=myar[1];
                      if (date<myar[2]){
                        date=myar[2];
                        prprice=pr[x]["pricedetails"][y]["productprice"];
                        selprice=pr[x]["pricedetails"][y]["sellingprice"];
                        datec=pr[x]["pricedetails"][y]["date"]
                        qty=pr[x]["pricedetails"][y]["qty"];
                      }
                    }
                  }
             }
             const optionText4 = document.createTextNode(prprice);
             const optionText5 = document.createTextNode(selprice);
             const optionText6 = document.createTextNode(datec);
             const optionText7 = document.createTextNode(qty);
             cell4.appendChild(optionText4);
             cell5.appendChild(optionText5);
             cell6.appendChild(optionText6);
             cell7.appendChild(optionText7);


           }
       }
  xhttp.open("POST", "{{'/productdetails/%s'%name}}");
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("fname="+value);
   }
</script>
</head>
<body>
<div id="menubar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;" >
        <div class="navbar-brand" onclick="history.back()">
      <img src="https://static.thenounproject.com/png/251451-200.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </div>
         <div class="container-fluid">
    <a class="navbar-brand" href="{{'/profile/%s'%name}}">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
      {{name}}
    </a>
  </div>
        <a class="navbar-brand" href="{{'/dashboard/%s'%name}}">Home</a>
        <a class="navbar-brand" href="{{'/Analysis/%s'%name}}">Analysis</a>
        <a class="navbar-brand" href="{{'/Ranking/%s'%name}}">Ranking</a>
        <a class="navbar-brand" href="{{'/HubEntry/%s'%name}}">Hub Entry</a>


    </nav>

</div>
<div class="sidenav">
  <a href="#" onclick="changenav(this.textContent)">Hub's</a>
  <a href="#" onclick="changenav(this.textContent)">ProductDetails</a>
  <a href="#" onclick="changenav(this.textContent)">SupplierDetails</a>
</div>
<div id="main">

</div>
</body>
</html>