<h3>Product Detail's</h3><br><br>
<select  id="hublist" class="form-select"  name="hub" onchange="productdetails(this.value)" >
            <option><p>Select the hub to see the productdetails</p></option>
</select><br><br>
<table class="table" id="mytable">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">PRODUCT NAME</th>
        <th scope="col">SUPPLIER NAME</th>
        <th scope="col">PRODUCT PRICE</th>
        <th scope="col">SELLING PRICE</th>
        <th scope="col">DATE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>