<h3>Supplier Detail's</h3><br><br>
<select  id="hublist" class="form-select"  name="hub"  onchange="supplierdetails(this.value)">
            <option><p>Select the hub to see the suppliersdetails</p></option>
</select><br><br>
<table class="table" id="mytable">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">SUPPLIER NAME</th>
        <th scope="col">SUPPLIER LOCATION</th>
        <th scope="col">NO OF PRODUCTS</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>